/*YOUR CUSTOM STYLES*/
.angular-google-map-container { height: 1000px; }
.fa.fa-upload.main-image-fix{
    margin-left: 34%;
    margin-top: 45%;
}
.fb-comments, .fb-comments * {
    width:100% !important;
}

/*.map-container {*/
    /*height: 600px;*/
    /*width: 70%;*/
/*}*/