<!--<div profile-wrap files=""></div>-->
<div class="toolbar-wrap">
	<div class="site-toolbar profile-toolbar container">
		<div class="row">			
			<div class="toolbar-details column span-4 mobile-span-6-768 mobile-span-12-480">						
				<a href="#/account/postTrip" class="button primary"><img src="/img/icons/map.svg" alt=""> Add Trip</a>							
			</div>							
		</div>
	</div>
</div>
<div class="content-wrap">
    <div class="site-content container">
        <div ng-show="profileTabPos == 0" class="trips-grid row">
            <div class="column span-4" ng-repeat="trip in myTrips">
                <div class="trip-preview">	
	                <div class="trip-image image element-image loaded">
		                <a ng-href="#/account/timeline/{{trip.id}}">
                            <img ng-show="trip.main_image" ng-src="{{trip.main_image.image_url}}" class="fullwidth" style="display: block;">
		                    <img ng-show="trip.main_image === undefined" ng-src="{{trip.visited_places[0].images[0].image_url}}" class="fullwidth" style="display: block;">
                        </a>
		
		                <div class="trip-caption">
			                <div class="trip-location">
				                <span class="fa fa-map-marker"></span>
				                {{trip.visited_places[0].location}}
			                </div>
		                </div>
	                </div>
	            <div class="trip-footer">
		            <h3 class="trip-title title"><a ng-href="#/account/timeline/{{trip.id}}">{{trip.title}}</a></h3>
		            <div class="trip-details clearfix">
			            <div class="trip-detail left">
				            <a href=""><span class="fa fa-user"></span> {{trip.username}}</a>
			            </div>
		            </div>
	            </div>	
            </div>
            </div>
        </div>
    </div>
        <div ng-show="profileTabPos == 1" class="">
            <div class="">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                    <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'"  options="marker.options" click="onClick()" events="marker.events">
                    </ui-gmap-markers>
                 </ui-gmap-google-map>
            </div>
        </div>
    <div class="site-content container">        
        <div ng-show="profileTabPos == 2" class="photos-grid row">
        <div ng-repeat="trip in myTrips">
            <div class="photos-header column span-12">
		        <h2 class="photos-title title"><a href="/trip/376/brazil/">{{trip.title}}</a></h2>
		        <div class="photos-details clearfix">
			        <div class="photos-detail"><span class="fa fa-calendar"></span> {{trip.visited_places[0].date | date:"dd/MM/yyyy"}}</div>
			        <div class="photos-detail">
				        <span class="fa fa-map-marker"></span>
				        <a href="">{{trip.visited_places[0].location}}</a> 
                    </div>
		        </div>
	        </div>
                <div class="column span-4" ng-repeat="place in trip.visited_places">
                    <div  ng-repeat="placeImage in place.images">
                        <div class="photo-preview image element-image loaded">
	                        <a ng-href="{{placeImage.image_url}}" class="element-colorbox cboxElement" data-id="photos" data-title="">
		                        <img ng-src="{{placeImage.image_url}}" class="fullwidth" alt="" style="display: block;">
		                    </a>
                        </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>